[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
Comment=Browse the World Wide Web
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Keywords=Internet;WWW;Browser;Web;Explorer
Keywords[pt]=Internet;WWW;Browser;Web;Explorador;Navegador
Keywords[pt_BR]=Internet;WWW;Browser;Web;Explorador;Navegador
Exec=/usr/lib/firefox/firefox %u
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;
X-XFCE-Source=file:///usr/share/applications/firefox.desktop

[Desktop Action new-window]
Name=New Window
Name[pt_BR]=Nova janela
Exec=/usr/lib/firefox/firefox --new-window %u

[Desktop Action new-private-window]
Name=New Private Window
Name[pt_BR]=Nova janela privativa
Exec=/usr/lib/firefox/firefox --private-window %u
