[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/william/Área de trabalho/Arquivos]
row=17
col=0

[/home/william/Área de trabalho/Downloads]
row=15
col=0

[/home/william/Área de trabalho/Projetos]
row=16
col=0

[Lixeira]
row=13
col=0

[/home/william]
row=14
col=0

