[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/william/Área de trabalho/teste.py]
row=4
col=0

[/home/william/Área de trabalho/Arquivos]
row=3
col=0

[/home/william/Área de trabalho/Downloads]
row=1
col=0

[/home/william/Área de trabalho/Zuccnini☃️🦖 on Twitter Pokemon Lifelong Swamp Friends. https __t.co_G3PPEVbNxv _ Twitter.html]
row=1
col=1

[/home/william/Área de trabalho/log.txt]
row=8
col=0

[/home/william/Área de trabalho/Projetos]
row=2
col=0

[/home/william/Área de trabalho/teste.csv]
row=6
col=0

[/home/william/Área de trabalho/20-12-2022_07-00-40.jpg]
row=9
col=0

[/home/william/Área de trabalho/teste2.py]
row=7
col=0

[/home/william/Área de trabalho/Zuccnini☃️🦖 on Twitter Pokemon Lifelong Swamp Friends. https __t.co_G3PPEVbNxv _ Twitter_arquivos]
row=0
col=1

[/home/william/Área de trabalho/Orçamentos 2012 a 2022.xlsx]
row=5
col=0

[Lixeira]
row=10
col=0

[/home/william]
row=0
col=0

