[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/william/Área de trabalho/DISTICO]
row=5
col=0

[/home/william/Área de trabalho/Downloads]
row=1
col=0

[/home/william/Área de trabalho/a.py]
row=7
col=0

[/home/william/Área de trabalho/Projetos]
row=2
col=0

[/home/william/Área de trabalho/Arquivos]
row=3
col=0

[/home/william/Área de trabalho/b.py]
row=6
col=0

[/home/william/Área de trabalho/c.py]
row=8
col=0

[/home/william/Área de trabalho/anotações SAP]
row=4
col=0

[Trash]
row=10
col=0

[/home/william]
row=0
col=0

