[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/william/Área de trabalho/add.png]
row=7
col=0

[/home/william/Área de trabalho/Downloads]
row=6
col=0

[/home/william/Área de trabalho/professor.html]
row=4
col=0

[/home/william/Área de trabalho/Projetos]
row=2
col=0

[/home/william/Área de trabalho/Arquivos]
row=3
col=0

[/home/william/Área de trabalho/next.png]
row=8
col=0

[/home/william/Área de trabalho/settings.png]
row=0
col=1

[/home/william/Área de trabalho/user.png]
row=1
col=1

[/home/william/Área de trabalho/usf.png]
row=5
col=0

[/home/william/Área de trabalho/aula.html]
row=2
col=1

[Lixeira]
row=1
col=0

[/home/william]
row=0
col=0

