[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/william/Área de trabalho/Arquivos]
row=3
col=0

[/home/william/Área de trabalho/Downloads]
row=6
col=0

[/home/william/Área de trabalho/Projetos]
row=2
col=0

[Lixeira]
row=1
col=0

[/home/william]
row=0
col=0

